.sidebar{
    background: -webkit-linear-gradient(#d218cc, #ffa218);
    background-repeat: no-repeat;
    width: 100%;
}
.sidebar li{
    list-style: none;
    font-size: 18px;
    color: aliceblue;
    padding-top: 18px;
    font-weight: 600;
}
.sidebar-li .sidebar-link{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
}
.sidebar-li .sidebar-link:hover{
    color: red;
}
@media (min-width: 500px) and (max-width: 768.55px) { 
     .sidebar{
       height: 50.99vh;
     }
 }
 @media (min-width: 768.56px) { 
     .sidebar{
       height: 99.99vh;
     }
 }
 
 /* link name spacing */

  @media (min-width: 500px) and (max-width: 7690.04px) {
      .sidebar-li .sidebar-link{
        padding-left: 14px;
     }
 }
 @media (min-width: 769.05px) and (max-width: 992px) {
      .sidebar-li .sidebar-link{
        padding-left: 4px;
     }
 } 
 @media (min-width: 992px) {
      .sidebar-li .sidebar-link{
        padding-left: 14px;
     }
 } 
