
@media (max-width: 991.99px) { 
    .special-login{
      width: 25%;
    }
 }
@media (min-width: 992px) { 
    .special-login{
      width: 100%;
    }
 }

 .bg-color{
   background: -webkit-linear-gradient(#6bcdfe, #f389ffdd);
 }
 .navbar{
   z-index: 999;
 }